/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End reset styles */
/* now we use our normal styles */
body {
  font-family: "Open Sans", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

/* Start of Sass */
header {
  display: flex;
  padding: 2rem 1.5rem;
  align-items: center;
  background-color: #edd3c1;
}
@media (max-width: 1024px) {
  header {
    padding: 1rem 0.5rem;
  }
}
header .nav {
  width: 100%;
  margin-inline: 2rem;
}
@media (max-width: 1024px) {
  header .nav {
    display: none;
  }
}
header .nav-list {
  display: flex;
}
header .nav .nav-group {
  display: flex;
  gap: 1rem;
}
header .nav .nav-group .nav-item a {
  text-decoration: none;
  color: #ac968b;
  font-weight: 700;
}
header .nav :last-child {
  margin-left: auto;
}
header .cart {
  margin-left: auto;
}

.btn {
  width: 25ch;
  padding-block: 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  color: #facdaf;
  cursor: pointer;
}

.homepage {
  background-image: url("/assets/img/home/homepage-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 110vh;
  position: relative;
}
.homepage-group {
  width: 60ch;
  position: absolute;
  top: 40%;
  left: 28%;
  transform: translate(-50%, -50%);
}
.homepage-group .home-title {
  font-size: 3rem;
  font-weight: 800;
  color: #443636;
}
.homepage-group .home-desc {
  color: #b9a694;
  font-weight: 600;
  margin-block: 2rem;
}
.homepage-group .shop {
  background-color: #f6914e;
  margin-left: 1rem;
}
.homepage svg {
  margin-top: 11rem;
}
.homepage svg path {
  fill: #fcf4ef;
}

.benefits {
  background-color: #fcf4ef;
  position: relative;
  padding-bottom: 6rem;
}
.benefits-title, .benefits-desc {
  text-align: center;
}
.benefits-title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
}
.benefits-title h2 {
  color: #443636;
}
.benefits-desc {
  margin-bottom: 1rem;
}
.benefits-desc p {
  color: #e0cfc5;
}
.benefits-container {
  display: grid;
  grid-template-columns: repeat(3, min(45ch, 60vw));
  justify-content: center;
}
.benefits-container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefits-container .card .image-wrapper {
  height: 70%;
  overflow: hidden;
}
.benefits-container .card .image-wrapper img {
  width: 100%;
}
.benefits-container .card .text {
  padding-block: 2rem;
  font-size: 1.1rem;
  background-color: #ffffff;
  width: 90%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.benefits-container .card .text p {
  text-align: center;
  font-weight: 600;
  color: #bbb6b6;
}
.benefits svg {
  position: absolute;
  top: 30%;
}
.benefits svg path {
  fill: #fefaf8;
}

.about {
  background-color: #fefaf8;
  padding-top: 1rem;
  position: relative;
  padding-bottom: 11rem;
}
.about-title {
  text-align: center;
  margin-bottom: 1rem;
}
.about-title .about-logo img {
  width: 4rem;
}
.about-title .title {
  margin-top: 1rem;
  margin-bottom: 1.75rem;
  color: #443636;
  font-size: 2.5rem;
  font-weight: 900;
}
.about-desc {
  width: 45ch;
  margin-inline: auto;
}
.about-desc p {
  color: #ece0db;
  font-size: 1.1rem;
  font-weight: 600;
}
.about-items {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-inline: 5rem;
  align-items: center;
  margin-top: 5rem;
}
.about-items-group:nth-child(2) {
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
}
.about-items-group:nth-child(2)::before {
  position: absolute;
  content: "";
  height: 100%;
  border: 2px solid #514443;
}
.about-items-group-container .bowl {
  background-image: url("/assets/img/home/white-bowl.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: flex;
}
.about-items-group-container .bowl .leaves,
.about-items-group-container .bowl .gummies {
  width: 50%;
  overflow: hidden;
}
.about-items-group-container .bowl .leaves img,
.about-items-group-container .bowl .gummies img {
  width: 100%;
}
.about-items-group-container .bowl .leaves img {
  width: 120% !important;
  margin-left: 25%;
}
.about-items-group-container .bowl .gummies img {
  margin-left: -50%;
}
.about-items-group-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.about-items-group-desc img {
  width: 6rem;
  margin-bottom: 1rem;
  color: #443636;
}
.about-items-group-desc h3 {
  color: #716565;
  font-size: 1.1rem;
  font-weight: 700;
}
.about-items-group-desc hr {
  width: 70%;
  height: 3px;
  border: none;
  background-color: #fac8a6;
  border-radius: 1px;
  margin-block: 1rem;
}
.about-items-group-desc p {
  text-align: center;
  color: #d8c6bb;
  line-height: 1.5;
  font-weight: 600;
}
.about .see-more {
  text-align: center;
  margin-top: 4rem;
}
.about .see-more .cbd {
  background-color: #3c562c;
}
.about svg {
  position: absolute;
  top: 28rem;
}
.about svg path {
  fill: #fbf4ee;
}

.satisfaction {
  background-color: #fbf4ee;
  height: 120vh;
  padding: 1rem;
}
.satisfaction-container {
  margin-left: 10rem;
}
.satisfaction-container .satisfaction-title {
  margin-bottom: 3rem;
}
.satisfaction-container .satisfaction-title p {
  color: #beb3a5;
  font-weight: 600;
  font-size: 1.15rem;
}
.satisfaction-container .satisfaction-title h2 {
  color: #443636;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.5;
}
.satisfaction-container .satisfaction-group-item {
  width: 45ch;
  display: flex;
  gap: 2rem;
  background-color: #ffffff;
  padding: 1.5rem 1rem;
  border-radius: 10px;
}
.satisfaction-container .satisfaction-group-item:not(:last-child) {
  margin-bottom: 1rem;
}
.satisfaction-container .satisfaction-group-item .icon img {
  width: 3rem;
}
.satisfaction-container .satisfaction-group-item .satisfaction-content h3 {
  color: #766b6b;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
.satisfaction-container .satisfaction-group-item .satisfaction-content p {
  color: #c7b9b1;
  font-weight: 600;
}
.satisfaction-img img {
  width: 100%;
  height: 100%;
}