$body-bg: #fcf4ef;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  overflow-x: hidden;
  background-color: $body-bg;
}

svg {
  margin-top: -10rem;
}

a {
  text-decoration: none;
}

header {
  padding: 2.5rem 1.5rem;
  display: flex;
  align-items: center;
}

.nav {
  width: 100%;
  padding-inline: 2rem;
}

ul {
  &.nav-list {
    list-style: none;
    display: flex;

    > .nav-group {
      display: flex;
      gap: 1rem;

      > .nav-item > a {
        font-size: 1rem;
        font-weight: 700;
        color: #a48e84;
      }
    }

    > .nav-group:not(:first-of-type) {
      margin-left: auto;
    }
  }
}

.cart {
  margin-left: auto;
}

.homepage {
  margin-top: -9rem;
  padding-top: 14rem;
  background-image: url('/assets/img/home/homepage-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 120vh;

  &-group {
    margin-top: 5rem;
    margin-left: 5rem;
    width: 45ch;

    > .home-desc {
      font-size: 1.25rem;
      font-weight: 600;
    }
  }

  &-group > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  svg path {
    fill: #fcf4ef;
  }
}

.home {
  &-title {
    color: #443636;
    font-size: 2.5rem;
    font-weight: 800;
  }
  &-desc {
    color: #a59684;
  }
}

.btn {
  width: 28ch;
  font-size: 0.9rem;
  padding-block: 1.25rem;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  letter-spacing: 1px;
  color: #faccad;
  cursor: pointer;

  &.shop {
    background-color: #f6914e;
    box-shadow: 0px 10px 20px 2px rgb(0 0 0 / 30%);
    margin-left: 1rem;
  }
}

.benefits {
  height: 130vh;
  position: relative;

  &-title {
    color: #443636;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;

    h2 {
      font-weight: 800;
    }
  }

  &-desc {
    text-align: center;
    color: #e1d0c5;
    font-weight: 600;
    margin-bottom: 2.25rem;
  }

  &-container {
    width: min(100% - 2rem, 120ch);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-inline: auto;

    .card p {
      text-align: center;
      color: #776e6e;
      font-size: 1.25rem;
      font-weight: 600;
    }
  }

  &-container > .card {
    .image-wrapper {
      height: 74%;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .text {
      width: 90%;
      margin-inline: auto;
      background-color: #ffffff;
      padding-block: 1.5rem;
      border-bottom-left-radius: 20%;
      border-bottom-right-radius: 20%;
    }
  }

  svg {
    position: absolute;
    bottom: -15rem;

    path {
      fill: #fefaf8;
    }
  }
}

.about {
  background-color: #fefaf8;

  &-title {
    & > .about-logo > img {
      width: 4rem;
    }

    & > .title {
      color: #443636;
      font-size: 2.4rem;
      font-weight: 900;
      margin-block: 0.5rem 1.7rem;
    }
  }

  &-desc {
    width: 45ch;
    margin-inline: auto;
    color: #d7c4b9;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 4rem;
  }

  &-title,
  &-desc {
    text-align: center;
  }

  &-items {
    margin-inline: 3rem;
    display: grid;
    grid-template-columns: auto 1fr auto;

    .about-item-group {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-desc {
        text-align: center;
        margin-bottom: 2rem;

        hr {
          width: 60%;
          margin: 1rem auto 1.15rem;
          background-color: #f8ab78;
          height: 0.15rem;
          border: none;
          border-radius: 10px;
        }

        img {
          margin-bottom: 1rem;
        }
      }

      &-container {
        width: 100%;
        height: 100%;
        position: relative;

        .bowl {
          position: absolute;
          background-image: url('/assets/img/home/white-bowl.png');
          width: 100%;
          height: 100%;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
        }

        .leaves {
          position: absolute;
          background-image: url('/assets/img/home/weed-bowl-placeholder.png');
          width: 100%;
          height: 100%;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
        }

        .gummies {
          position: absolute;
          background-image: url('/assets/img/home/gummies-bowl.png');
          width: 100%;
          height: 100%;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      &:nth-child(2) {
        width: 60ch;
      }

      &-desc > img {
        width: 5rem;
      }
    }
  }
}
